<web-app>
	<servlet>
		<servlet-name> testdemo </servlet-name>
		<servlet-class> Test </servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name> testdemo </servlet-name>
		<url-pattern> /demo </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name> loginn </servlet-name>
		<servlet-class> Login </servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name> loginn </servlet-name>
		<url-pattern> /login </url-pattern>
	</servlet-mapping>
</web-app>